<div class="session  {{session.fieldTrack.fieldClass}}">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if session}}
        <div class="row">
          <div class="track col-xs-6 {{session.fieldTrack.fieldClass}}">{{session.fieldTrack.name}}</div>
          <div class="room col-xs-6">
              <b>{{session.fieldRoom.title}}</b> {{session.fieldRoom.fieldRoomNumber}}
            </div>
        </div>
        <h3 class="panel-title">{{session.title}}</h3>
      {{else}}
      {{/if}}
      </div>
      <div class="panel-body">
        {{#if session}}
          <div class="info col-xs-8 col-md-7">
            <b>{{session.fieldSpeaker}}</b>
            <div class="level  {{session.fieldLevel.name}}">
              {{session.fieldLevel.name}}
          </div>
            
          </div>
          <div class="col-xs-4 col-md-5 actions">
            {{session-actions}}
          </div>
        {{else}}
          {{ember-spinner}}
        {{/if}}
      </div>
    </div>
</div>  
