<div class="session {{session.fieldTrack.fieldClass}}">
  <div class="well well-sm">
    <div class="room">{{session.fieldRoom.title}} {{session.fieldRoom.fieldRoomNumber}}</div>
      <h4>{{session.title}}</h4>
      <b>{{session.fieldSpeaker}}</b>
      
      <div class="track {{session.fieldTrack.fieldClass}}">{{session.fieldTrack.name}}</div>
      <div class="level">{{session.fieldLevel.name}}</div>
  </div>
</div>  
