<h3>The Sessions</h3>
{{#each sortedDates as |date|}}
  <div>
    <div class="{{moment-format date.fieldDate.value 'dddd' timeZone='America/Los_Angeles'}}">
      <div class="day">{{moment-format date.fieldDate.value 'dddd' timeZone='America/Los_Angeles'}}</div>
      <h4 class="time">{{moment-format date.fieldDate.value 'LT' timeZone='America/Los_Angeles'}} to {{moment-format date.fieldDate.end_value 'LT' timeZone='America/Los_Angeles'}}
      </h4>
      </div>
    {{#if date.fieldSessions}}
      <div class="row">
        {{#each date.fieldSessions as |session|}}
          {{session-item session=session action="like"}}
        {{/each}}
      </div>
    {{else}}
      <span>Sorry, There aren't any sessions scheduled for this time.</span>
    {{/if}}
  </div>
{{/each}}
