<h3>The Sessions</h3>
  {{#each sortedDates as |date|}}
    <div>
      <h2>{{moment-format date.fieldDate.value 'LT' timeZone='America/Los_Angeles'}} to {{moment-format date.fieldDate.end_value 'LT' timeZone='America/Los_Angeles'}}<br /><br /></h2>
      {{#if date.fieldSessions}}
        <div class="well">
          {{#each date.fieldSessions as |session|}}
            <div>
              <h3>{{session.title}}</h3>
              <b>{{session.fieldSpeaker}}</b>
              {{session.fieldTrack}}
              {{session.fieldExperienceLevel}}
            </div>
          {{/each}}
        </div>
      {{else}}
        <span>Sorry, There aren't any sessions scheduled for this time.</span>
      {{/if}}
    </div>
  {{/each}}
